<div class="container-fluid push-content">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 offset-md-4 offset-lg-4 offset-xl-4 no-padding">
      <div class="map-box-container sticky-top">
        <div id="map" style="width: 100%; height: 300px;" data-markers="<%= @itinerary.markers.first.to_json %>" data-lines="<%= @itinerary.lines.first.to_json %>" data-color="<%= @itinerary.colors.first %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
      <h1 class="title-sz-3 mt-3">Meilleurs trajets</h1>
      <% @itinerary.routes.each_with_index do |route, index| %>
        <div class="results-itineraries-container mt-4">
          <div class="itinerary-card itinerary-border-<%= index %>">
            <div class="subway-line" data-markers="<%= @itinerary.markers[index].to_json %>" data-lines="<%= @itinerary.lines[index].to_json %>" data-color="<%= @itinerary.colors[index] %>">
              <% route.legs.each do |leg| %>
                <% leg.steps.each_with_index do |step, index| %>
                  <% if step.is_walking? %>
                    <span class="number <%= index + 1 %>"><%= image_tag('person-walking (1).png', height: '20', width: '20') %></span>
                  <% else %>
                    <span class="number <%= step.is_rer %> <%= index + 1 %>" style="background-color:<%= step.line_color %>; color:<%= step.line_color_text %>;"><%= step.line_short_name %></span>
                  <% end %>

                <% end %>
                   <% if route.arrival_poi(current_user) %>
                      <div class="travel-selector">
                        <% if route.arrival_poi(current_user).escalator == true %>
                          <%= image_tag('upwards-escalator (1).png', height: '20', width: '20') %>
                         <% end %>
                      </div>
                   <% end %>
              <% end %>

            </div>


            <div class="time">
              <p><span><%= (route.duration * current_user.profile.coef_multiplicateur_duration).to_i%> mins</span></p>
            </div>

            <div class="waiting">
              <p>dans <span><%= route.next_departure_time %></span> min à <%= route.departure_station %></p>
            </div>

           <!--  <#% if route.arrival_poi(current_user) %>
              <div class="travel-selector">
                <#% if route.arrival_poi(current_user).escalator == true %>
                 <%#= image_tag('escalator_no_circle.png', height: '20', width: '20') %>
                <%# end %>
                <p>Nombre de marches <span><%#= route.arrival_poi(current_user).stairs_number %></span></p>
              </div>
            <%# end %> -->

            <div class="more-info">
              <p data-toggle="collapse" data-target="#collapseExample-<%= index + 1 %>" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-chevron-down"></i></p>
            </div>


            <div class="collapse" id="collapseExample-<%= index + 1 %>">
              <div class="details-info card-body">
                <hr>
                  <strong>Sortie la plus pratique :</strong>
                <% if route.arrival_poi(current_user) %>
                  <div class="mt-2">
                    À <%= route.arrival_station %>, prendre la sortie n°<%= route.arrival_poi(current_user).number %>
                    <p class="mt-2">Nombre de marches : <span><%= route.arrival_poi(current_user).stairs_number %></span></p>
                  </div>
                <% else %>
                  <div>
                    Pas d'information disponible pour cette station (ascenseur, escalator...)
                  </div>
                <% end %>
                <% if route.arrival_poi(current_user) %>
                  <hr>
                  <strong>Aide-nous à améliorer nos résultats :</strong>

                  <%= link_to "Participe !", poi_survey_form_path(route.arrival_poi(current_user)), class: 'btn-survey mt-4'  %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
