<div class="container-fluid push-content">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 offset-md-4 offset-lg-4 offset-xl-4 no-padding">
      <div class="map-box-container">
        <div id="map" style="width: 100%; height: 300px;" data-markers="<%= @itinerary.markers.to_json %>" data-lines="<%= @itinerary.lines.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
      <div class="results-itineraries-container mt-4">
        <h1 class="title-sz-3">Suggestions</h1>
        <div class="itinerary-card">
          <div class="subway-line">
            <% @itinerary.legs.each do |leg| %>
              <% leg.steps.each_with_index do |step, index| %>
                <% if step.is_walking? %>
                  <span class="number <%= index + 1 %>"><i class="fas fa-walking"></i></span>
                <% else %>
                  <span class="number <%= index + 1 %>" style="background-color:<%= step.line_color %>; color:<%= step.line_color_text %>;"><%= step.line_short_name %></span>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="time">
            <p><span><%= @itinerary.duration %> mins</span>
          </div>
          <div class="waiting">
            <p>dans <span>0</span>, <span>5</span> min de parmentier</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
