<div class="container-fluid push-content">
  <div class="row row-a0">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 offset-md-4 offset-lg-4 offset-xl-4 no-padding">
      <div class="profile-info-wrapper">

        <div class="intro-container mt-5 mb-3">


            <div class="intro-details">
              <div class="profile-img">
                <%= image_tag "trophy.png" , class: "card-img-top" %>
              </div>
              <h2>Baby hero<%= @profile.status %></h2>
              <p class="points">Vous avez cumulé</p>
              <p class="score"><%= @profile.score %> <span class="units">points</span></p>
            </div>


        </div>
        <div class="preference-container mb-3">
          <div class="card-product-details">
            <div class="card-product-infos">
              <div class="details">
                <h2>Mes préférences</h2>
              </div>
                  <div class="walking_duration space">
                    <%= image_tag "walking_duration.png" , class: "card-img-pref" %> Temps de marche (min): <%= @profile.walking_duration %>
                  </div>
                  <div class="stairs space">
                    <%= image_tag "ladder.png" , class: "card-img-pref" %> Nombre de marches : <%= @profile.stairs %>
                  </div>
                  <div class="connection space">
                    <%= image_tag "connection.png" , class: "card-img-pref" %> Nombre de correspondances : <%= @profile.connection %>
                  </div>
                  <div class="escalator space">
                    <%= image_tag "escalator_no_circle.png" , class: "card-img-pref" %>  Escaliers mécaniques : <%= yesno(@profile.escalator) %>
                  </div>
            </div>
          </div>
        </div>

        <div class="buttons">
          <%= link_to 'Retour', root_path, class: "btn-results btn-block", id: "ans-one", method: :get  %>
        </div>

      </div><!-- end container -->

    </div>
  </div>
</div>

