<div class="container dashboard mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1 class="mb-5">Bonjour Camoumou !</h1>
        <hr>


          <div class="card-product mb-3">
            <div class="card-product-details">
              <div class="card-product-infos">
                <h2><%= @profile.score %></h2>
                <h2><%= @profile.status %></h2>
                <h2><%= @profile.walking_duration %></h2>
                <h2><%= @profile.stairs %></h2>
                <h2><%= @profile.connection %></h2>
                <h2><%= @profile.escalator %></h2>
              </div>
            </div>
          </div>


    </div>
  </div>
</div>

  <%#= link_to "Modifier mon profil"  %>
  <%#= link_to "Quitter", home_path %>
  <br>



