
<h1 class="profile">Bonjour !</h1>
<hr>
  <div class="profile-img">
  <%= image_tag "user.png" , class: "card-img-top" %>
  </div>
    <h2><%= @profile.score %></h2>
    <h2>Status<%= @profile.status %></h2>
      <h3>Vous avez répondu à 25 questionnaires et cumulé 247 points! </h3>
        <div class="card-product mb-3">
          <div class="card-product-details">
            <div class="card-product-infos">
              <div class="details">Mes préférences
                <h2>Temps de marche : <%= @profile.walking_duration %> min</h2>
                <h2>Nombre de marches : <%= @profile.stairs %></h2>
                <h2>Nombre de correspondances : <%= @profile.connection %></h2>
                <h2>Présence d'escaliers mécaniques : <%= @profile.escalator %></h2>
              </div>
            </div>
          </div>
        </div>

        <div class="buttons">
          <label class="btn-results" id="ans-one">Modifier mon profil</label>
          <label class="btn-results" id="ans-one">
          <%= link_to 'Quitter', root_path, method: :get %></label>
        </div>


