<div class="container-fluid push-content">
  <div class="row">
    <div class=".col-12 .col-sm-12 .col-md-4 .col-lg-4 col-xl-4 offset-md-4 offset-lg-4 offset-xl-4">
      <div class="form-wrapper">
        <%= simple_form_for :search, url: itineraries_path, method: :post do |f| %>  <!-- send to itineraries results page -->
          <div class="search-form-item">
            <div class="search_location">
              <%= f.input :start_location, input_html: {id: "start"} %>
              <%= f.input :end_location, input_html: {id: "end"} %>
            </div>
            <div>
              <label class="btn-results" id="ans-one">Choisis tes filtres</label>
            </div>
          </div>
          <!-- Demande temps de marche -->
          <div class="search-form-item">
            <div class="two"></div>
            <h2 class="search-margin">Temps de marche acceptable?</h2>
            <div class="form-container">
              <!-- new version -->
              <input type="radio" name="walking_duration" value="10" id="walking_duration_10">
              <label id="ans-two" for="walking_duration_10" class="btn-square-small">10</label>

              <input type="radio" name="walking_duration" value="15" id="walking_duration_15">
              <label id="ans-two" for="walking_duration_false" class="btn-square-medium">15</label>

              <input type="radio" name="walking_duration" value="20" id="walking_duration_20">
              <label id="ans-two" for="walking_duration_false" class="btn-square-large">20</label>

              <input type="radio" name="keep_all" value="all" id="keep_all">
              <label id="ans-two" for="keep_all" class="btn-whatever">Peu importe</label>
            </div>
          </div>

          <!-- Demande nombre de marches -->
          <div class="search-form-item">
            <div class="three"></div>
            <h2 class="search-margin" >Nombre de marches d'escaliers?</h2>
            <div class="form-container">
              <!-- new version -->
              <input type="radio" name="stairs" value="30" id="stairs_30">
              <label id="ans-three" for="stairs_30" class="btn-square-small">30</label>
              <input type="radio" name="stairs" value="50" id="stairs_50">
              <label id="ans-three" for="stairs_50" class="btn-square-medium">50</label>
              <input type="radio" name="stairs" value="70" id="stairs_70">
              <label id="ans-three" for="stairs_70" class="btn-square-large">70</label>
              <input type="radio" name="keep_all" value="all" id="keep_all">
              <label id="ans-three" for="keep_all" class="btn-whatever">Peu importe</label>
            </div>
          </div>
          <!-- Demande nombre de correspondances -->
          <div class="search-form-item">
            <div class="four"></div>
            <h2 class="search-margin" >Nombre de correspondances?</h2>
            <div class="form-container">
              <!-- new version -->
              <input type="radio" name="connection" value="0" id="connection_0">
              <label id="ans-four" for="0_true" class="btn-square-small">30</label>
              <input type="radio" name="connection" value="1" id="connection_1">
              <label id="ans-four" for="1_false" class="btn-square-medium">50</label>
              <input type="radio" name="connection" value="2" id="connection_2">
              <label id="ans-four" for="2_false" class="btn-square-large">70</label>
              <input type="radio" name="keep_all" value="all" id="keep_all">
              <label id="ans-four" for="keep_all" class="btn-whatever">Peu importe</label>
            </div>
          <!-- Demande escalators oui/non -->
          <div class="search-form-item">
            <div class="five"></div>
            <h2 class="search-margin">Besoin d'escaliers mécaniques?</h2>
            <div class="form-container">
              <!-- Demande escalators oui/non avec images -->
              <input type="radio" name="escalator" value="true" id="escalator_true">
              <label for="escalator_true" class="picto-item">
                <%= image_tag('checked.png') %>
              </label>
              <input type="radio" name="escalator" value="false" id="escalator_false">
              <label for="escalator_false" class="picto-item">
                <%= image_tag('cancel.png') %>
              </label>
              <!-- Submit button -->
              <div class="form-container">
                <%= f.submit 'Partez!', class: 'btn-results' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
