<div class="container-fluid">
  <div class="row">
    <div class=".col-12 .col-sm-12 .col-md-4 .col-lg-4 col-xl-4 offset-md-4 offset-lg-4 offset-xl-4">
      <div class="form-itinerary card-product">
        <%= simple_form_for :search, url: itineraries_path, method: :get do |f| %>  <!-- send to itineraries results page -->
          <div class="search_location">
            <h6>start</h6> <!-- ce sont les titres pour chaque tab des étapes du formulaire -->
            <%= f.input :start_location, input_html: {id: "start"} %>
            <%= f.input :end_location, input_html: {id: "end"} %>
          </div>

          <div class="search_adekwat">

            <h6>select capabilities</h6>

            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

              <li class="nav-item">
                <a class="nav-link selector-large active" id="pills-walking-duration-tab" data-toggle="pill" href="#pills-walking-duration" role="tab" aria-controls="pills-walking-duration" aria-selected="true"><%= image_tag("pedestrian-man.png", :alt => "pedestrian-man") %></a>
              </li>

              <li class="nav-item">
                <a class="nav-link selector-large" id="pills-escalator-tab" data-toggle="pill" href="#pills-escalator" role="tab" aria-controls="pills-escalator" aria-selected="false"><%= image_tag("escalator.png", :alt => "escalator") %></a>
              </li>
              <li class="nav-item">
                <a class="nav-link selector-large" id="pills-stairs-tab" data-toggle="pill" href="#pills-stairs" role="tab" aria-controls="pills-stairs" aria-selected="false"><%= image_tag("stairs.png", :alt => "stairsOutput") %></a>
              </li>
              <li class="nav-item">
                <a class="nav-link selector-large" id="pills-connection-tab" data-toggle="pill" href="#pills-connection" role="tab" aria-controls="pills-connection" aria-selected="false"><%= image_tag("network.png", :alt => "network") %></a>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade" id="pills-walking-duration" role="tabpanel" aria-labelledby="pills-walking-duration-tab">
                <div class="input-card">
                  <h6>Temps de marche moyen?</h6>
                  <%#= f.input :walking_duration, as: :range, input_html: { min: 10, step: 5 } %>
                  <input type="range" name="walkingDuration" id="walkingDurationId" value="15" min="10" max="20" step="5" oninput="this.form.walkingDurationOutput.value=this.value">
                  <input name="walkingDurationOutput" id="walkingDurationId" value="15">
                </div>
              </div>
              <div class="tab-pane fade" id="pills-escalator" role="tabpanel" aria-labelledby="pills-escalator-tab">
                <div class="input-card">
                  <h6>Besoin d'escaliers mécaniques?</h6>
                  <%= f.input :escalator %>
                </div>
              </div>
              <div class="tab-pane fade" id="pills-stairs" role="tabpanel" aria-labelledby="pills-stairs-tab">
                <div class="input-card">
                  <h6>Nombre de marches d'escaliers?</h6>
                  <input type="range" name="stairs" id="stairsId" value="50" min="30" max="70" step="20" oninput="this.form.stairsOutput.value=this.value">
                  <input name="stairsOutput" id="stairsId" value="50">
                </div>
              </div>
              <div class="tab-pane fade" id="pills-connection" role="tabpanel" aria-labelledby="pills-connection-tab">
                  <div class="input-card">
                    <h6>Nombre de correspondances?</h6>
                    <input type="range" name="connection" id="connectionId" value="1" min="0" max="2" step="1" oninput="this.form.connectionOutput.value=this.value">
                    <input name="connectionOutput" id="connectionId" value="1">
                  </div>
              </div>
            </div>
          </div>
          <%= f.submit 'Partez!' %>
        <% end %>
      </div>
    </div>
  </div>
</div>







